<div class="row">
  <h3><%= @student.name %></h3>
</div><br />

<div class="col-md-8 col-sm-12">
   <%= render 'subjects/form' %><br />
 </div>
<div class="col-md-8 col-sm-12">
  <ul>
    <%= render 'students/subject' %>
  </ul>
</div>
