<%= form_for @student, remote: true do |f| %>
    <div class="form-field">
      <%= f.label :name, "Student Name" %>
      <%= f.text_field :name %>
      <%= f.submit "Add Student", class: "btn btn-success btn-sm" %>
    </div>
<% end %><br />
