<%= image_tag("stress.jpg" , class: "kids") %>
<div class="welcome-info jumbotron">
  <h1 class="text-warning">Welcome to the New Standard</h1>

  <ul>
    <p> - An application to help teachers organize their Standards-related data</p>
    <p> - This version only supports 2nd grade standards for the state of California</p>
    <p> - Email me any questions or suggestions at isorme1@gmail.com </li>
  </ul>
</div>
