<div class="welcome-info">
  <h1 class="text-warning">Welcome to The New Standard !</h1>

  <ul>
    <p> - An application to help teachers organize their Standards-related data</p>
    <p> - This version only supports 2nd grade standards for the state of California</p>
    <p> - Email me any questions or suggestions at isorme1@gmail.com </li>
  </ul>
</div>

<%= image_tag("stress.jpg" , class: "kids") %>
