@import "bootstrap-sprockets";
@import "bootswatch/slate/variables";
@import "bootstrap";
@import "bootswatch/slate/bootswatch";

.page-nav {
   margin-bottom: 0;
 }

 .form-wrapper {
   width: 50%;
 }

 #student_standard_notes, #student_standard_assignments {
   height: 8rem;
 }

 .badge-completed {
   padding: 0.6rem;
 }

 .red {
   color: red;
 }

.green {
  color: rgb(22, 195, 85);
}

.top {
  text-align: center;
  float:right;
  text-decoration: underline;
  color: rgb(0, 102, 255);
  cursor: pointer;
}

.copywright {
  margin-bottom: 12px;
}

.welcome-info {
  text-align: center;
  color: white;
}

img {
  float:right;
  margin-top: 30px;
}

.notes-section {
  padding: 15px;
  background-color:white;
  border-radius: 25px;
  color: black;
}
