@import "bootstrap-sprockets";
@import "bootswatch/slate/variables";
@import "bootstrap";
@import "bootswatch/slate/bootswatch";

.page-nav {
  margin-bottom: 0;
}

.red {
  color: red;
}

.green {
  color: rgb(62, 186, 66);
}

.border {
  border-style: ridge;
  padding: 20px;
}
