<% if flash[:notice] %>
  <div class="alert alert-success" data-spy="affix" data-offset-top="205">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:alert] %>
  <div class="alert alert-warning" data-spy="affix" data-offset-top="205">
    <%= flash[:alert] %>
  </div>
<% end %>
